.button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #101828;
  border: 1px solid #dadde1;
  background-color: #ffffff;
  border-radius: 200px;
  width: 145px;
  height: 56px;
  cursor: pointer;
  margin-left: 460px;
}

.button:active {
  border: 1px solid #6d7b75;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}