.header {
  height: 72px;
  border-bottom: 1px solid #f2f4f7;
  background: #ffffff;
}

.container {
  max-width: 1440px;
  height: 100%;
  gap: 450px;
  margin: 0 auto;
  padding: 0 64px;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #101828;
}

.nav {
  display: flex;
  gap: 32px;
}

.link {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #829b91;
}

.linkCatalog {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #101828;
}

.link:hover {
  color: #6d7b75;
}

.link {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #101828; 
  transition: color 0.2s ease;
}

.linkActive {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #829b91; 
}

.link:hover {
  color: #6c717b;
}