.card {
  display: flex;
  gap: 24px;
  border: 1px solid #dadde1;
  margin-bottom: 32px;
  border-radius: 16px;
  padding: 24px;
  width: 888px;
  height: 312px;
  background: #f7f7f7;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
}

.starIcon {
  fill: #ffc531;
  width: 16px;
  height: 16px;
}



.descriptionIcon {
  width: 20px;
  height: 20px;
}

.image {
  border-radius: 16px;
  width: 219px;
  height: 240px;
  object-fit: cover;
  flex-shrink: 0;
}

.info {
  flex: 1;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
}

.meta {
  display: flex;
  gap: 24px;
  margin: 16px 0;
}

.meta span {
  display: flex;
  align-items: center;
  gap: 6px;
}

.location {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.features {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 24px;
  
}

.features span {
  padding: 12px 18px;
  background: #f2f4f7;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #101828;
}

.rating {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.button {
  display: inline-block;
  padding: 16px 60px;
  background: #829b91;
  color: white;
  height: 56px;
  border-radius: 200px;
  text-decoration: none;
  transition: 0.2s;
}

.button:hover {
 background: #6d7b75;
}